body{
margin:0;
font-family:Tahoma;
background:#ffffff;
}

header{
background:#1e90ff;
color:white;
text-align:center;
padding:20px;
}

.logo{
width:130px;
}

h2{
color:#1e90ff;
text-align:center;
}

.home{
background:#f2f2f2;
padding:40px;
text-align:center;
}

.welcome-text{
background:#ffcc00;
color:#1e90ff;
padding:15px;
border-radius:10px;
font-size:18px;
font-weight:bold;
}

section{
padding:30px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
}

.card{
background:white;
padding:10px;
border-radius:12px;
box-shadow:0 0 8px rgba(0,0,0,0.2);
text-align:center;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
}

/* صور الفئات */
.card.wide img{
height:auto;
max-height:230px;
object-fit:contain;
background:black;
}

/* جدول */
.table-box{
overflow-x:auto;
}

table{
width:100%;
min-width:600px;
border-collapse:collapse;
background:white;
}

th{
background:#1e90ff;
color:white;
}

th,td{
border:1px solid #ccc;
padding:12px;
text-align:center;
}

/* تواصل */
.social{
display:flex;
justify-content:center;
gap:25px;
}

.social img{
width:60px;
}

footer{
background:#000;
color:#ffcc00;
text-align:center;
padding:15px;
}
