body{
margin:0;
font-family:Tahoma;
background:white;
}

header{
background:#1e90ff;
color:white;
text-align:center;
padding:15px;
}

.logo{
width:120px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
padding:30px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
}

.card{
border:2px solid #000;
padding:10px;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid black;
padding:10px;
}

.social a{
display:inline-block;
margin:10px;
padding:10px 20px;
background:red;
color:white;
text-decoration:none;
}
