body{
margin:0;
font-family:Tahoma;
background:#f5f5f5;
}

header{
background:#1e90ff;
color:white;
text-align:center;
padding:20px;
}

.logo{
width:130px;
}

h2{
color:#1e90ff;
}

.home{
background:white;
padding:40px;
text-align:center;
}

.welcome-text{
background:#ffcc00;
padding:15px;
color:#1e90ff;   /* أزرق فاتح بدل كحل */
font-size:18px;
border-radius:10px;
font-weight:bold;
}


section{
padding:30px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
}

.card{
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 0 5px gray;
text-align:center;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
border:1px solid #ccc;
padding:10px;
text-align:center;
}

.social{
display:flex;
justify-content:center;
gap:20px;
}

.social img{
width:60px;
}
